$color_1: #fff;
$color_2: #aaa;
$font-family_1: "Joti One", "arial";
$background-color_1: #500000;
$background-color_2: #400000;
$background-color_3: #700000;
$border-color_1: #700000;

body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	margin: 0;
	padding: 0;
}
nav {
	background-color: $background-color_2;
	color: $color_1;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
	}
	li {
		margin-right: 30px;
	}
	a {
		text-decoration: none;
		color: $color_2;
		font-weight: bold;
		
		border-radius: 50%;
		padding: 15px 35px;
		font-size: 20px;
		transition: background-color 0.3s, border-color 0.3s;
		&:hover {
			background-color: $background-color_3;
			border-color: $border-color_1;
		}
	}
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0px;
	margin-top: 50px;
	margin-left: 300px;
}
.circle-container {
	display: flex;
	align-items: center;
	img {
		border-radius: 60%;
		width: 300px;
		height: 300px;
	}
}
.text {
	font-size: 40px;
	font-weight: bold;
	color: $color_1;
}
.margin-right {
	margin-right: 300px;
	justify-self: end;
}
.mirrored {
	.text {
		margin-right: 20px;
	}
}
